/* css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilos para el contenedor del Loader */
#loader-container {
    position: fixed; /* Lo fija en la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    display: flex; /* Para centrar el spinner */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de todo */
}

/* Estilos para el Spinner (el círculo animado) */
.spinner {
    border: 8px solid #f3f3f3; /* Color claro del fondo del círculo */
    border-top: 8px solid #3498db; /* Color de la parte animada (azul) */
    border-radius: 50%; /* Hace que sea un círculo */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Animación de giro */
}

/* Define la animación de giro */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}